# conda create -n dire python=3.9
# pip install torch==2.0.0+cu117 torchvision==0.15.1+cu117 -f https://download.pytorch.org/whl/torch_stable.html
einops
imageio
ipympl
cmake==3.28.3
dlib==19.24.2
decord
face_recognition
matplotlib
numpy
opencv-python==4.9.0.80
pandas
scikit-learn
tensorboard
tensorboardX
sanic
wandb
tqdm
blobfile>=1.0.5
easydict